body {
	overflow-x: hidden;
}
.Doing {
	padding-left: 117px;
}
.passion p {
	padding-left: 17px;
	font-size: 16px;
	line-height: 29.98px;
	font-family: 400;
	font-family: 'Cairo';
	color: white;
	font-weight: 400;
}
.after p {
	padding-left: 11px;
	font-size: 16px;
	line-height: 29.98px;
	font-family: 400;
	font-family: 'Cairo';
	color: white;
}
.hardest .fa.fa-phone {
	padding-top: 6px;
	font-size: 18px;
	color:white;
}
.Doing .fa.fa-envelope {
	padding-top: 6px;
	font-size: 18px;
	color:white;
}
.newscollege li {
	list-style: none;
	padding: 15px;
	font-size: 16px;
	line-height: 29.98px;
	font-weight: 400;
	font-family: 'Cairo';
	color:white;
}
.dropdown #dropdownMenuButton1 {
	padding-top: 16px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Cairo';
	color:white;
}
.newscollege {
	background-color: #214E40;
}
.just .btn {
	background-color: red;
	width: 167px;
}
.header .navbar.navbar-expand-lg.navbar-light {
	background-color: #2B6956;
}
.header .navbar-light .navbar-nav .nav-link {
	color: #EBECF0;
	font-weight: 700;
	line-height: 33.73px;
	font-family: 'Cairo';
	padding: 8px;
}
.just .btn {
	background-color: #EBE5DB70;
	width: 158px;
	border-radius: 2rem;
	font-size: 16.85px;
	line-height: 31.57px;
	color: white;
	font-family: 'Cairo';
}
.demostric h2 {
	font-size: 57px;
	line-height: 80px;
	color: white;
	font-weight: 700;
	font-family: 'Lora';
}
.demostric p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: white;
	font-family: 'Cairo';
}
.eiusmod .btn {
	font-size: 18px;
	line-height: 33.73px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Cairo';
	background-color: #EBE5DB;
	width: 186px;
	border-radius: 38px;
	padding: 9px 8px 9px 2px;
	margin-top: 1rem;
}
.yourtime {
	background-image: url('..//image/back-gd.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 533px;
}
.reloadhing {
	margin-top: 3rem;
}
.magna h4 {
	font-size: 45px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Lora';
	text-align: center;
}
.Another {
	padding-left: 24px;
	padding-top: 23px;
}
.Another h5 {
	font-size: 19px;
	color: #0D0E0C;
	font-weight: 500;
	font-family: 'Lora';
}
.Another span {
	font-size: 14px;
	line-height: 19px;
	color: #0D0E0C;
	font-weight: 400;
	font-family: 'Cairo';
}
.magna p {
	font-size: 16px;
	line-height: 20px;
	color: black;
	font-weight: 600;
	font-family: 'Cairo';
}
.Events {
	background-color: #E5D32E;
	margin-top: -2px;
	padding: 66px 16px 58px 11px;
}
.career {
	border-right: 1px solid black;
}
.performance {
	padding-left: 15px;
}
.Thompson .fa.fa-map-marker {
	padding-top: 1px;
	font-size: 23px;
	color: #5A524C;
}
.performance span {
	font-size: 16px;
	line-height: 29.98px;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Cairo';
	color: #5a524c;
}
.doloar p {
	font-size: 24px;
	line-height: 44.98px;
	color: #2B6956;
	font-weight: 600;
	font-family: 'Cairo';
}
.doloar h4 {
	font-size: 50px;
	line-height: 80px;
	color: #080A12;
	font-weight: 600;
	font-family: 'Lora';
	padding-bottom: 1rem;
}
.pariatur p {
	font-size: 16px;
	line-height: 22px;
	color: #5A524C;
	font-family: 'Cairo';
	font-weight: 400;
	padding-top: 2rem;
}
.voluptate {
	margin-top: 2rem;
}
.occaecat p {
	padding-left: 15px;
	font-size: 16px;
	line-height: 33.73px;
	color: #B2B2B2;
	font-family: 'Cairo';
}
.laborum .fa.fa-arrow-left {
	padding-top: 9px;
	color: #B2B2B2;
}
.offica .fa.fa-arrow-right {
	padding-top: 9px;
	color: #B2B2B2;
	position: relative;
	left: 12px;
}
.cupidatat a {
	color: #f4f0f0;
}
.occaecat p:hover {
	color: green;
}
.Commerce h5 {
	font-size: 49px;
	line-height: 65.8px;
	color: white;
	font-weight: 700;
	font-family: 'Lora';
}
.Commerce p {
	font-size: 20px;
	line-height: 17.6px;
	color: white;
	font-weight: 400;
	font-family: 'Cairo';
}
.wish {
	margin-top: -67px;
	width: 55px;
	height: 55px;
	color: #EBE5DB;
	border: 1px solid #EBE5DB;
	border-radius: 50%;
	text-align: center;
	padding: 12px;
	font-size: 18px;
}
.fugiat {
	float: right;
}
.mollit {
	margin-top: -68px;
	margin-left: 13px;
}
.mollit .btn {
	background-color: #EBE5DB;
	width: 150px;
	font-size: 18px;
	line-height: 33.73px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Cairo';
	background-color: #EBE5DB;
	width: 186px;
	border-radius: 38px;
	padding: 9px 8px 9px 2px;
}
.Seconds h4 {
	font-size: 28px;
	line-height: 32px;
	font-family: 'Cairo';
	color: white;
	font-weight: 600;
}
.Seconds p {
	font-size: 16px;
	line-height: 26px;
	color: white;
	font-weight: 400;
	font-family: 'Cairo';
}
.laboris {
	background: linear-gradient(248.91deg, #30725E -2.4%, #1B604B 96.55%);
	border-radius: 16px;
	padding: 30px;
	position: relative;
	top: 320px;
}
.laborum {
	position: relative;
	bottom: -36rem;
}
.proident hr {
	color: #f1f1f0;
}
.passion {
	padding-top: 0rem;
}
.begin {
	background-image: url('..//image/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 698px;
}
.eiusmod h4 {
	font-size: 46px;
	line-height: 76.8px;
	color: #080A12;
	font-weight: 700;
	font-family: 'Lora';
}
.eiusmod p {
	font-size: 16px;
	line-height: 24px;
	color: #080A12;
	font-weight: 400;
	font-family: 'Cairo';
}
.every {
	padding-left: 22px;
}

.label:hover {
  cursor: pointer;
  background: #E5D32E;
  color: black;
  transition: background-color 0.9s ease;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon-patient:before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
}
.link:hover .icon-patient:before {
  color: #fff;
}
.every h3 {
	font-size: 30px;
	line-height: 32px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Cairo';
}
.journey {
	margin-top: -33px;
}
.every p {
	font-size: 14px;
	line-height: 24px;
	color: #0D0E0C;
	font-family: 'Cairo';
	padding-top: 10px;
}
.label {
	border: 1px solid #d8dbdd;
	border-radius: 8px;
	padding: 23px 22px 22px 5px;
	margin-bottom: 2rem;
}
.Lorem h4 {
	font-size: 43px;
	line-height: 55.04px;
	font-weight: 700;
	color: black;
	font-family: 'Lora';
	margin-top: 2rem;
}
.aliqua {
	margin-top: 21px;
}
.Regular p {
	font-size: 20px;
	line-height: 32px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
}
.club {
	padding-top: 36px;
}
.Regular p {
	font-size: 20px;
	line-height: 32px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
	padding-top: 16px;
}
.just {
	padding-top: 3px;
}
.perdurable .btn {
	color: black;
}
.strength p {
	font-size: 24px;
	line-height: 31.98px;
	color: #E5D32E;
	font-weight: 600;
	font-family: 'Cairo';
	color:white;
}	
.adamant h3 {
	font-size: 47px;
	line-height: 73px;
	color: white;
	font-weight: 700;
	font-family: 'Lora';
}
.adamant p {
	font-size: 15px;
	line-height: 25.98px;
	color: white;
	font-weight: 400;
	font-family: 'Cairo';
}
.being {
	background-color: #2B6956;
	height: 480px;
	position: relative;
	z-index: -11;
	padding: 11px;
}
.adamant {
	position: relative;
	left: 1rem;
	top: 0rem;
}
.perdurable .btn {
	color: black;
	font-size: 18px;
	line-height: 33.73px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Cairo';
	background-color: #EBE5DB;
	width: 186px;
	border-radius: 38px;
	padding: 9px 8px 9px 2px;
	margin-top: 20px;
}
.promising {
	text-align: center;
}
.execution {
	padding: 39px;
	border-right: 1px solid #d2c8c8bd;
	border-bottom: 1px solid #d2c8c8bd;
}
.hyper {
	border-bottom: none;
}
.execution.better {
	border-right: none;	
}
.filtering {
	border-bottom: none;
	border-right: none;
}
.former {
	position: relative;
}
.doing h4 {
	font-size: 43px;
	color: #080A12;
	font-weight: 700;
	line-height: 55.04px;
	font-family: 'Lora';
}
.cupidatat {
	background-image: url('..//image/image.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 569px;
}
.journey p {
	font-size: 17px;
	line-height: 3.73;
	color: #5A524C;
	font-weight: 600;
	font-family: 'Cairo';
}

.several p {
	font-size: 24px;
	line-height: 30px;
	color: #E5D32E;
	font-weight: 600;
	font-family: 'Cairo';
}
.several h4 {
	font-size: 43px;
	line-height: 50px;
	color: #080A12;
	font-weight: 700;
	font-family: 'Lora';
}
.former .form-label {
	font-size: 23px;
	line-height: 29.44px;
	color: #979797;
	font-weight: 700;
	font-family: 'Lora';
}

.journey .img-fluid {
	width: 585px;
	height: 416px;
	object-fit: cover;
}
.library {
	background-color: white;
	padding: 69px 24px 26px 17px;
	width: 38%;
	height: 709px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: absolute;
	margin: 0 auto;
}
.tailor {
	margin-left: 11px;
	color: white;
}
.sliders .btn {
	background-color: #2B6956;
	color: white;
	font-size: 22px;
	line-height: 43.1px;
	border-radius: 58px;
}
.studing .img-fluid {
	width: 1928px;
	height: 698px;
}
.effect h3 {
	font-size: 50px;
	line-height: 70px;
	color: #080A12;
	font-weight: 700;
	font-family: 'Lora';
}
.effect p {
	font-size: 16px;
	line-height: 24px;
	color: #0000000;
	color: #828181;
	font-weight: 400;
	font-family: 'Cairo';
	padding-top: 7px;
	padding-bottom: 1rem;
}
.incididunt .card {
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(251, 243, 243, 0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.level .btn {
	background-color: #2B6956;
	font-size: 20px;
	line-height: 34px;
	color: #EBE5DB;
	font-weight: 700;
	font-family: 'Cairo';
	padding: 9px 11px 9px 7px;
	width: 178px;
	border-radius: 2rem;
	margin-top: 2rem;
}
.incididunt h4 {
	font-size: 25px;
	line-height: 34px;
	color: #0D0E0C;
	font-weight: 500;
	font-family: 'Lora';
	padding-top: 12px;
	text-align: c;
	padding-bottom: 1rem;
}
.incididunt p {
	font-size: 14px;
	line-height: 24px;
	color: #5A524C;
	font-weight: 600;
	font-family: 'Cairo';
	padding-top: 10px;
}
.incididunt span{
	font-size: 16px;
	line-height: 28px;
	color: #2B6956;
	font-weight: 600;
	font-family: 'Cairo';
}
.returns p {
	font-size: 18px;
	line-height: 34px;
	color: #2B6956;
	font-weight: 600;
	font-family: 'Cairo';
	text-align: center;
}
.district {
	height: 463px;
}
.district h4 {
	padding-top: 29px;
}
.sed {
	padding-top: 19px;
}
.content h4 {
	font-size: 43px;
	line-height: 76.8px;
	color: #080A12;
	font-weight: 700;
	font-family: 'Lora';
}
.Tournament {
	float: right;
	margin-top: -86px;
}
.events span {
	font-size: 18px;
	line-height: 37px;
	color: #2B6956;
	font-weight: 600;
	font-family: 'Cairo';
}
.events h4 {
	font-size: 18px;
	line-height: 25.6px;
	color: #363848;
	font-weight: 700;
	font-family: 'Lora';
}
.events p {
	font-size: 12px;
	line-height: 21px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
	padding-top: 15px;
}
.events {
	margin-top: 4rem;
}
.domtree h4 {
	font-size: 48px;
	line-height: 76.8px;
	color: #2B6956;
	font-weight: 600;
	font-family: 'Lora';
	padding-top: 10px;
}
.domtree p {
	font-size: 16px;
	line-height: 22.73px;
	color: #5A524C;
	font-weight: 600;
	font-family: 'Cairo';
}
.reloadhing h5 {
	font-size: 40px;
	line-height: 72px;
	color: #000000;
	font-weight: 400;
	font-family: 'Lora'';font-size: 22px';
	font-family: 'Lora';
}
.reloadhing p {
	font-size: 16px;
	line-height: 28px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
}
.identfileld {
	background-color: #E5D32E;
	height: 317px;
}
.quis {
	padding-top: 6rem;
}
.quis #email {
	
	padding: 11px 7px 12px 28px;
	border-radius: 2rem;
	font-size: 14px;
	line-height: 33.73px;
	color: #FFFFFF;
	font-family: 'Cairo';
	font-weight: 400;
	background-color: #5A524C;
	border: 1px solid #5A524C;
}
.quis .btn.bt {
	float: right;
	background-color: #2B6956;
	font-size: 18px;
	line-height: 33.73px;
	color: white;
	font-family: 'Cairo';
	padding: 7px 32px 7px 32px;
	border-radius: 2rem;
	margin-top: -55px;
}
.partner {
	height: 194px;
}
.events .card {
	border-radius: 20px;
}
.partner p {
	padding-top: 42px;
}
.elma p {
	font-size: 12px;
	line-height: 19px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
	padding-top: 25px;
}
.strong h5 {
	font-size: 21px;
	line-height: 37.48px;
	color: #0D0E0C;
	font-weight: 700;
	font-family: 'Cairo';
	text-align: center;
}
.strong p {
	text-align: center;
	font-size: 16px;
	line-height: 29.98px;
	color: #5A524C;
	font-weight: 600;
	font-family: 'Cairo';
	padding-top: 7px;
}
.touch .fa.fa-map-marker {
	padding-top: 1px;
	font-size: 25px;
	color: #5A524C;
}
.minim p {
	font-size: 16px;
	line-height: 29.98px;
	padding-left: 9px;
	color: #5A524C;
	font-weight: 600;
	font-family: 'Cairo';
}
.touch .fa.fa-phone {
	padding-top: 1px;
	font-size: 25px;
	color: #5A524C;	
}
.touch .fa.fa-envelope {
	padding-top: 1px;
	font-size: 25px;
	color: #5A524C;
	color: #5A524C;
	
}
.united {
	margin-top: 5rem;
}
.nostrud h6 {
	font-size: 17px;
	line-height: 29.98px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
}
.ullamco {
	font-size: 23px;
	color: #667966;
	font-weight: 600;
	font-family: 'Cairo';
	padding: 11px;
	margin: 13px;
}
.ullamco:hover {
	width: 51;
	width: 46px;
	height: 47px;
	border-radius: 39px;
	background-color: #E1EEEA;
	text-align: center;
	position: relative;
	font-size: 20px;
}
.oxford p {
	font-size: 16px;
	line-height: 29.98px;
	color: #0D0E0C;
	font-weight: 600;
	font-family: 'Cairo';
	padding-top: 16px;
}
.oxford li {
	list-style: none;
	padding: 13px;
	font-size: 16px;
	line-height: 29.98px;
	color: #5A524C;
	font-weight: 400;
	font-family: 'Cairo';
}
@media (max-width: 1362px) {
	.demostric h2 {
		font-size: 49px;
		line-height: 80px;
	}
	.header .navbar-light .navbar-nav .nav-link {
		padding: 7px;
		font-size: 13px;
	}
	.Another h5 {
		font-size: 15px;
	}
	.Another span {
		font-size: 12px;
		line-height: 11px;
	}
	.pariatur p br {
		display: none;
		padding-top: 2rem;
	}
	.occaecat p {
		font-size: 13px;
	}
	.every p {

		font-size: 11px;
		line-height: 20px;
		padding-top: 8px;
	}
	.Regular p {
		font-size: 16px;
		line-height: 29px;
	}
	.adamant p {
		font-size: 13px;
		line-height: 25.98px;
	}
	.doing h4 {
		padding-top: 30px;
	}
	
	.library {
		padding: 23px 24px 26px 17px;
		height: 531px;
		left: 53px;
	}
	.library {
		width: 46%;
	}
	
	.incididunt p {
		font-size: 12px;
	}
	.district {
		height: 430px;
	}
	.district h4 {
		padding-top: 12px;
	}
	.incididunt h4 {
		font-size: 20px;
		line-height: 31px;
	}
	.events h4 {
		font-size: 14px;
		line-height: 20.6px;
	}
	.events p br {
		display: none;
	}
	.partner p {
		padding-top: 9px;
	}
	.elma p br {
		display: none;
	}
	.strong h5 {
		font-size: 18px;
	}
	.former {
		margin-top: 5rem;
	}
	.being {
		height: 427px;
	}
	.begin {
		height: 530px;
	}
	.level .btn {
		margin-top: 1rem;
	}
}
@media (max-width: 990px) {
	.newscollege li {
		padding: 12px;
	}
	.Doing {
		padding-left: 19px;
	}
	.passion p {
		font-size: 13px;
	}
	.after p {
		font-size: 12px;
	}
	.newscollege li {
		font-size: 12px;
	}
	.help.center {
		padding-top: 5px;
	}
	.dropdown #dropdownMenuButton1 {
		font-size: 12px;
	}
	.demostric h2 {
		font-size: 31px;
		line-height: 48px;
		padding-top: 3rem;
	}
	.yourtime {
		height: 408px;
	}
	.Another h5 {
		font-size: 14px;
	}
	.Another span {
		font-size: 11px;
	}
	.laboris {
		left: 9rem;
	}
	.laborum {
		left: -9rem;
	}
	.offred{
		padding-top: 6rem;
	}
	.Regular p {
		font-size: 14px;
	}
	.adamant p br {
		display: none;
	}
	.adamant h3 {
		line-height: 46px;
	}
	.journey {
		margin-top: 0px;
	}
	.library {
		width: 53%;
	}
	.incididunt p br {
		display: none;
	}
	.district {
		height: 421px;
	}
	.sed {
		padding-top: 0px;
	}
	.incididunt {
		margin-bottom: 2rem;
	}
	.reloadhing h5 {
		font-size: 31px;
	}
	.reloadhing p br {
		display: none;
	}
	.reloadhing p {
		font-size: 15px;
		line-height: 28px;
	}
	.oxford li {
		padding: 10px;
	}
	.strong {
		padding-bottom: 1rem;
	}
}
@media (max-width: 760px) {
	.demostric h2 {
		font-size: 22px;
		line-height: 36px;
	}
	.demostric p {
		font-size: 14px;
		line-height: 25px;
	}
	.eiusmod .btn {
		margin-top: 0rem;
	}
	.newscollege li {
		font-size: 9px;
	}
	.yourtime {
		height: 368px;
	}
	.Seconds h4 {
		font-size: 20px;
		line-height: 32px;
	}
	.Seconds p {
		font-size: 14px;
		line-height: 17px;
	}
	.laborum {
		left: -120px;
	}
	.eiusmod p br {
		display: none;
	}
	.Regular p {
		font-size: 12px;
	}
	.Regular p {
		
		line-height: 21px;
	}
	
	.effect p br {
		display: none;
	}
	.incididunt p {
		font-size: 16px;
		line-height: 26px;
	}
	.district {
		height: 464px;
	}
	.content h4 {
		font-size: 32px;
	}
	.domtree h4 {
		font-size: 41px;
		line-height: 52.8px;
	}
	.reloadhing h5 {
		font-size: 23px;
	}
	.quis #email {
		width: 132%;
	}
	.quis .btn.bt {
		font-size: 14px;
		position: relative;
		left: 78px;
	}
	.reloadhing p {
		font-size: 14px;
	}
	.oxford p {
		font-size: 14px;
	}
}
@media (max-width: 479px) {
	.demostric p {
		font-size: 10px;
		line-height: 19px;
	}
	.yourtime {
		height: 655px;
	}
	.Another h5 {
		font-size: 12px;
	}
	.Another span {
		font-size: 9px;
	}
	.doloar h4 {
		font-size: 35px;
	}
	.pariatur p {
		font-size: 15px;
	}
	.several h4 {
		font-size: 30px;
	}
	.library {
		width: 72%;
	}
	.library {
		left: -4px;
	}
	.level .btn {
		font-size: 17px;
		width: 151px;
	}
	.adamant h3 {
		font-size: 31px;
	}
	.adamant p {
		line-height: 22.98px;
	}
	.perdurable .btn {
		margin-top: -6px;
	}
	.quis #email {
		width: 100%;
	}
	.quis {
		padding-top: 0rem;
	}
	.quis .btn.bt {
		left: -3px;
	}
	.oxford {
		text-align: center;
	}
	.oxford.d-flex {
		justify-content: center;
	}
	.exercitation {
		justify-content: center;
	}
	.nostrud {
		text-align: center;
	}
	.elma {
		text-align: center;
	}
	.after {
		text-align: center;
	}
	.content h4 {
		font-size: 21px;
	}
	.content h4 {
		line-height: 65.8px;
	}
	.laboris {
		top: 560px;
		left: 0rem;
	}
	.laborum {
		left: 67px;
	}
	.offred {
		padding-top: 43rem;
	}
	.eiusmod h4 {
		font-size: 35px;
	}
	.every p br {
		display: none;
	}
	.events h4 {
		font-size: 13px;
	}
	.Seconds h4 {
		font-size: 11px;
	}
	.Seconds p {
		font-size: 10px;
		line-height: 0px;
	}
	.reloadhing {
		margin-top: 1rem;
	}
	.Seconds {
		text-align: center;
	}
	.fugiat {
		position: relative;
		top: 5rem;
	}
	.laboris {
		height: 637px;
	}
	.adamant h3 {
		font-size: 33px;
	}
}
.sliders {
	margin-top: 3rem;
}
@media (max-width: 375px) {
	.adamant h3 {
		font-size: 31px;
	}
}